# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
env/
venv/

# Logs and runtime files
*.log
*.sqlite3
*.db

# Jupyter and editor stuff
.ipynb_checkpoints/
.vscode/
*.ipynb

# OS-generated
.DS_Store
Thumbs.db
